.contents {
  display: flex;
  border-bottom: 2px solid #F1F1F1;
}

@keyframes example {
  50%  {
    /* border-style: solid;
    border-color: #2E3A7C;
    border-width: 1vh; */
    background: rgba(233, 233, 233, 0.767);
  }
}
.contents-select {
  display: flex;
  border-bottom: 2px solid #F1F1F1;
  /* border-style: solid;
  border-color: #2E3A7C;
  border-width: 1vh; */
  animation: example 1.5s infinite;
}

.line {
  display: flex;
  /* flex-direction: column; */
  /* flex-direction: row; */
  width: 100%;
}

.coverImage {
  display: flex;
  height: 20vh;
  width: 20vh;
  margin: 2vh;
}

.coverImage img {
  width: 100%;
  height: 100%;
}

.message {
  font-size: 2vh;
  display: flex;
  flex: 1;
  margin: 2vh;
  align-items: center;
  /* word-wrap: break-word; */
  /* word-wrap: normal; */
  word-break: break-all;
}